.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body.modal-open {
  overflow: hidden;
}

dialog::backdrop {
  opacity: 0.9;
  background-size: cover;
  background-color: rgb(26, 25, 25);
}

.close {
  border: 2px solid black;
  border-radius: 10%;
  background-color: rgb(248, 248, 244);
  color: rgb(26, 25, 25);
  
}
.close:hover {
  border: 2px solid transparent;
  border-radius: 10%;
  background-color: rgb(26, 25, 25);
  color: rgb(248, 248, 244);
}

.list-num {
  width: 7%;
  height: 70px;
}